/* Home Page Styles */
body {
  background-color: linen;
}
/* styled clickable header */
.header {
  text-align: center;
  font-size: x-large;
  padding-bottom: 20vh;
}
/* styled trio of pics, set margins & gave border */
.pic-trio {
  text-align: center;
  margin-bottom: 20vh;
  border-top: 5px rgba(0, 0, 0, 0.2) groove;
}
/* set picture trio to flex display to arrange with space evenly between them */
#pics {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 20px;
  padding-bottom: 40px;
}
/* quote box with a border & background color */
.quote-box {
  border: 5px rgba(0, 0, 0, 0.2) groove;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 60px;
  background-color: rgba(59, 45, 253, 0.439);
}
/* set container with main content & sidebar to grid display to better arrange content */
.container {
  text-align: center;
  margin-top: 50px;
  display: grid;
  grid-template-columns: minmax(60%, 40%) 1fr;
}
/* justify text to line it up correctly */
#content-1 {
  text-align: justify;
  padding-right: 20px;
}

#sidebar {
  text-align: justify;
  padding-left: 20px;
}
/* double border along the bottom of individual sidebar posts */
#sbar {
  border-bottom: 5px double lightslategray;
}
/* float sidebar images to left and justify text to wrap around image */
#sbar-img {
  float: left;
  padding: 8px;
}

p {
  font-size: 15px;
  width: 90%;
  padding-bottom: 30px;
}
/* different styles for different size headers */
h3 {
  text-transform: uppercase;
}

h4 {
  text-transform: capitalize;
  font-style: oblique;
}

h2 {
  text-align: center;
}
/* styled footer on every page */
.footer {
  display: flex;
  flex-direction: row;
  text-align: center;
  border-top: 10px grey groove;
  margin-top: 20px;
  background-color: rgba(0, 0, 0, 0.2);
}
/* styled form for text input, set to flex display to help lineup input fields */
#form {
  display: flex;
  flex-direction: column;
  justify-content: right;
  height: 200px;
  width: 250px;
  margin-left: 375px;
  margin-top: 10px;
}

#textarea {
  height: 100px;
  width: 245px;
}
/* styled social icons to lineup in a column */
#social {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

i {
  padding: 10px;
  width: 500px;
}
/* styled buttons that change when hovered over */
#button {
  border: 5px grey groove;
  align-content: center;
  color: black;
  background-color: rgba(103, 69, 255, 0.357);
  text-align: center;
  font-size: 15px;
  cursor: pointer;
  display: inline-block;
  padding: 10px 40px;
}
#button:hover {
  color: blue;
}

a {
  color: black;
}
a:hover {
  color: blue;
}
